# Archivo de ejemplo para variables de entorno locales.
# Esta es una plantilla, un archivo '.env' en la raíz es para definir valores personales.

# Configuración del Entorno de Ejecución
APP_ENV=development
DEBUG=True

# Credenciales o Claves API (Si la solución se expande con servicios externos)
# DB_HOST=localhost
# DB_PORT=5432
# SECRET_KEY=tu_clave_secreta_aqui